--
-- PostgreSQL database dump
--

\restrict 2hqyVeRLr3EL02nnaF0St7vpyEJ74QvDVmIDhtDbaoIDHBabcg9N6GxAbgdmav2

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analysis_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analysis_results (
    id integer NOT NULL,
    trip_request_id integer NOT NULL,
    recommendation character varying(20) NOT NULL,
    explanation text NOT NULL,
    analyzed_at timestamp without time zone
);


ALTER TABLE public.analysis_results OWNER TO postgres;

--
-- Name: analysis_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analysis_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analysis_results_id_seq OWNER TO postgres;

--
-- Name: analysis_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analysis_results_id_seq OWNED BY public.analysis_results.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    trip_request_id integer NOT NULL,
    sent_at timestamp without time zone,
    status character varying(10) NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: price_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_snapshots (
    id integer NOT NULL,
    trip_request_id integer NOT NULL,
    airline_code character varying(3) NOT NULL,
    flight_number character varying(10) NOT NULL,
    departure_time character varying(25) NOT NULL,
    arrival_time character varying(25) NOT NULL,
    fare_class character varying(20) NOT NULL,
    price_cents integer NOT NULL,
    flight_date date NOT NULL,
    collected_at timestamp without time zone
);


ALTER TABLE public.price_snapshots OWNER TO postgres;

--
-- Name: price_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.price_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.price_snapshots_id_seq OWNER TO postgres;

--
-- Name: price_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.price_snapshots_id_seq OWNED BY public.price_snapshots.id;


--
-- Name: trip_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trip_requests (
    id integer NOT NULL,
    origin character varying(3) NOT NULL,
    destination character varying(3) NOT NULL,
    earliest_departure date NOT NULL,
    latest_departure date NOT NULL,
    earliest_return date,
    latest_return date,
    latest_departure_time character varying(5),
    latest_return_time character varying(5),
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.trip_requests OWNER TO postgres;

--
-- Name: trip_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.trip_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trip_requests_id_seq OWNER TO postgres;

--
-- Name: trip_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.trip_requests_id_seq OWNED BY public.trip_requests.id;


--
-- Name: analysis_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analysis_results ALTER COLUMN id SET DEFAULT nextval('public.analysis_results_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: price_snapshots id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_snapshots ALTER COLUMN id SET DEFAULT nextval('public.price_snapshots_id_seq'::regclass);


--
-- Name: trip_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_requests ALTER COLUMN id SET DEFAULT nextval('public.trip_requests_id_seq'::regclass);


--
-- Data for Name: analysis_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.analysis_results (id, trip_request_id, recommendation, explanation, analyzed_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, trip_request_id, sent_at, status) FROM stdin;
\.


--
-- Data for Name: price_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.price_snapshots (id, trip_request_id, airline_code, flight_number, departure_time, arrival_time, fare_class, price_cents, flight_date, collected_at) FROM stdin;
\.


--
-- Data for Name: trip_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: analysis_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.analysis_results_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: price_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.price_snapshots_id_seq', 1, false);


--
-- Name: trip_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.trip_requests_id_seq', 5, true);


--
-- Name: analysis_results analysis_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analysis_results
    ADD CONSTRAINT analysis_results_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: price_snapshots price_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_snapshots
    ADD CONSTRAINT price_snapshots_pkey PRIMARY KEY (id);


--
-- Name: trip_requests trip_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_requests
    ADD CONSTRAINT trip_requests_pkey PRIMARY KEY (id);


--
-- Name: analysis_results analysis_results_trip_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analysis_results
    ADD CONSTRAINT analysis_results_trip_request_id_fkey FOREIGN KEY (trip_request_id) REFERENCES public.trip_requests(id);


--
-- Name: notifications notifications_trip_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_trip_request_id_fkey FOREIGN KEY (trip_request_id) REFERENCES public.trip_requests(id);


--
-- Name: price_snapshots price_snapshots_trip_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_snapshots
    ADD CONSTRAINT price_snapshots_trip_request_id_fkey FOREIGN KEY (trip_request_id) REFERENCES public.trip_requests(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 2hqyVeRLr3EL02nnaF0St7vpyEJ74QvDVmIDhtDbaoIDHBabcg9N6GxAbgdmav2

